body {
  background-image: url("https://media.wired.com/photos/5a6f92df17132e047375eb3d/master/w_2560%2Cc_limit/StravaMilitarySecurity-565978087.jpg");
  background-size: cover;
  font-size: large;
  font-weight: bolder;
  color: red;
}